@font-face {
  font-family: "Saint";
  src: url(../fonts/SaintMonica.ttf);
}
@font-face {
  font-family: "Questrial";
  src: url(../fonts/Questrial.ttf);
}
@font-face {
  font-family: "Gmarket";
  src: url(../fonts/GmarketSansTTFMedium.ttf);
}

.questrial_font {
  font-family: Questrial;
}
