header {
  width: 100%;
  height: 100px;
  background-color: #000;
  position: absolute;
  position: fixed;
  z-index: 1;
  overflow: hidden;
}
.header__inner {
  align-items: center;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
}

/* header logo */
.header__logo {
  width: 15%;
  height: 100%;
}
.header__logo a {
  width: 60px;
  height: 60px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  margin-left: 40px;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.header__logo a span {
  font-size: 20px;
  line-height: 50px;
}

/* header menu */
.header__menu {
  width: 70%;
  color: #fff;
  letter-spacing: 10px;
  text-align: center;
  font-family: "Questrial";
}
.header__menu ul {
  display: block;
  display: none;
}
.header__menu li {
  display: inline-block;
}
.header__menu li a {
  padding: 10px 25px;
  margin: 0 5px;
  font-size: 0.85vw;
}

/* header right */
.header__right {
  width: 15%;
  height: 100%;
}
