/* body {
  background: #000;
} */

/* section1 */
#section1 {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#section1 h1 {
  color: #fff;
  font-size: 8vw;
  font-family: "SaintMonicaRegular";
  white-space: nowrap;
}
#section1 .text {
  position: absolute;
  width: 30vw;
  display: none;
}

.sec01__title {
  width: 120%;
  font-size: 9.8vw;
  font-family: Saint;
  text-align: center;
  display: block;
  position: absolute;
  left: -20%;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  font-family: "SaintMonicaRegular";
  opacity: 0;
}

.st01 {
  top: 48%;
  color: #fff;
  font-size: 9.8vw;
}
.st02 {
  top: 60%;
  left: -13%;
  font-size: 8.8vw;
}
.st03 {
  top: 70%;
  left: -10%;
  font-size: 7.8vw;
}
.st04 {
  top: 79%;
  left: -10%;
  font-size: 6.8vw;
}
.st05 {
  top: 87%;
  left: -10%;
  font-size: 5.8vw;
}
.st06 {
  top: 94%;
  left: -10%;
  font-size: 4.8vw;
}
.st07 {
  top: 100%;
  left: -10%;
  font-size: 3.8vw;
}

/* .sub01__subtitle {
  width: 100%;
  text-align: center;
  font-size: 18px;
  position: absolute;
  bottom: 5%;
  transform: translateY(-50%);
  letter-spacing: 10px;
} */

/* section2 */
#section2 {
  width: 100%;
  height: 200vh;
  background: #000;
  overflow: hidden;
  position: relative;
}

#section2 .about {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: "Questrial";
}

#section2 .stone {
  position: absolute;
  width: 30vw;
  left: -10%;
}
#section2 .stone_02 {
  position: absolute;
  width: 30vw;
  right: -12%;
}
#section2 .fragments {
  position: absolute;
  width: 30vw;
  right: 20%;
}

#section2 p {
  width: 100%;
  font-size: 32px;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Gmarket";
}

#section2 span {
  color: #88d1ff;
}

/* section03 */
#section3 {
  width: 100%;
  height: 250vh;
  background: #000;
  position: relative;
}

#section3 .sec03 {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0px;
  overflow: hidden;
  white-space: nowrap;
}
#section3 h3 {
  font-family: "SaintMonicaRegular";
  line-height: 120%;
  transform: rotate(-20deg);
  position: relative;
  left: -10%;
  top: -50%;
}

#section3 h3.sec03_01 {
  font-size: 15vw;
}

#section3 h3.sec03_02,
.sec03_03 {
  font-size: 12vw;
}

#section3 h3.sec03_04,
.sec03_05 {
  font-size: 10vw;
}
#section3 h3.sec03_06,
.sec03_07 {
  font-size: 8vw;
}
#section3 h3.sec03_08,
.sec03_09 {
  font-size: 6vw;
}
#section3 h3 em {
  color: #88d1ff;
}

/* section04 */
#section4 {
  width: 100%;
  height: 550vh;
  background: #000;
  position: relative;
}

#section4 .sec04 {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  white-space: nowrap;
}

#section4 h2 {
  font-family: "SaintMonicaRegular";
  font-size: 12vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section4 .sec04 .c1 {
  left: 25%;
}
#section4 .sec04 .c2 {
  left: 31.5%;
}
#section4 .sec04 .c3 {
  left: 38.5%;
}
#section4 .sec04 .c4 {
  left: 47.5%;
}
#section4 .sec04 .c5 {
  left: 51%;
}
#section4 .sec04 .c6 {
  left: 57.5%;
}
#section4 .sec04 .c7 {
  left: 66%;
}
#section4 .sec04 .c8 {
  left: 72.5%;
}

#section4 img {
  width: 12vw;
  height: 18vw;
  position: absolute;
  top: 35%;
  left: 45%;
}

#section4 .card01 {  
}
#section4 .card02 {  
}
#section4 .card03 {  
}
#section4 .card04 {  
}
#section4 .card05 {  
  z-index: -1;
}
#section4 .card06 {
  z-index: -2;  
}
#section4 .card07 {
  z-index: -3;  
}
#section4 .card08 {  
  z-index: -4;
}

/* section5 */
#section5 {
  width: 100%;
  height: 100vh;
  margin-top: 300px;
  background-image: url(../img/sec05.PNG) ;
  background-size: cover;
}
#section6 {
}
