/* body {
  background: #000;
} */

::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #88d1ff;
  height: 7%;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
/* section1 */
#section1 {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#section1 h1 {
  color: #fff;
  font-size: 8vw;
  font-family: "SaintMonicaRegular";
  white-space: nowrap;
  position: absolute;
  top: 30%;
}
#section1 .text {
  width: 34vw;
  display: none;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.sec01__title {
  width: 120%;
  font-size: 9.8vw;
  font-family: Saint;
  text-align: center;
  display: block;
  position: absolute;
  left: -20%;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  font-family: "SaintMonicaRegular";
  opacity: 0;
}

.st01 {
  top: 40%;
  color: #fff;
  font-size: 9.8vw;
}
.st02 {
  top: 56%;
  left: -13%;
  font-size: 8.8vw;
}
.st03 {
  top: 70%;
  left: -10%;
  font-size: 7.8vw;
}
.st04 {
  top: 79%;
  left: -10%;
  font-size: 6.8vw;
}
.st05 {
  top: 87%;
  left: -10%;
  font-size: 5.8vw;
}
.st06 {
  top: 94%;
  left: -10%;
  font-size: 4.8vw;
}
.st07 {
  top: 100%;
  left: -10%;
  font-size: 3.8vw;
}

.sub_title {
  width: 100%;
  text-align: center;
  font-size: 2vw;
  position: absolute;
  bottom: 5%;
  transform: translateY(-50%);
}

.Quest {
  font-family: "Questrial";
}
.Saint {
  font-family: "SaintMonicaRegular";
}

.sec01_circle {
  position: absolute;
  top: 42%;
  right: 10%;
  width: 18vw;
  height: 18vw;
  box-sizing: border-box;
  border-radius: 9vw;
  border: solid 2px #88d1ff;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: none;
}

.sec01_circle span {
  position: absolute;
  top: 60%;
  right: 30%;
  font-size: 1vw;
  color: #88d1ff;
}
/* section2 */
#section2 {
  width: 100%;
  height: 100rem;
  background: #000;
  position: relative;
  overflow: hidden;
}
#section2 .sec02_01 {
  position: relative;
  width: 100%;
  height: 100rem;
}
#section2 .title_box {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: "Questrial";
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#section2 .title_box span {
  color: #fff;
}

#section2 .title_line::before {
  border-bottom: 1px solid;
  border-top: 1px solid;
  bottom: 0;
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scaleX(var(--lines-scale));
  transform-origin: center center;
  width: 1em;
  display: inline-block;
}
#section2 .title_line::after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  bottom: 0;
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleX(var(--lines-scale));
  transform-origin: center center;
  width: 1em;
  display: inline-block;
}

#section2 p {
  width: 100%;
  font-size: 1.8vw;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Gmarket";
}
#section2 span,
#section2_add span {
  color: #88d1ff;
}
#section2 .stone {
  position: absolute;
  width: 28vw;
  left: -10%;
  z-index: 999;
}
#section2 .stone_02 {
  position: absolute;
  width: 28vw;
  right: -15%;
  z-index: 999;
}
#section2 .fragments {
  position: absolute;
  width: 22vw;
  right: 20%;
}

/* section2 sec02_1 */
#section2_add {
  width: 100%;
  height: 400rem;
  background: #000;
  position: relative;
}

#section2_add .sec02_02 {
  position: sticky;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100vh;
}

#section2_add .sec02_box {
  width: 100%;
  height: 100%;
}

#section2_add .sec02_con {
  font-family: "Questrial";
}
#section2_add .sec02_con span {
  font-family: "SaintMonicaRegular";
}

#section2_add .sec02_A {
  position: absolute;
  transform: translate(0%, -50%);
  width: 100%;
  height: 60vh;
  font-size: 6.5vw;
  line-height: 5.5vw;
  top: 50%;
  left: 10%;
}

#section2_add .sec02_B {
  position: absolute;
  transform: translate(0%, -50%);
  width: 100%;
  height: 60vh;
  font-size: 8vw;
  line-height: 7.5vw;
  top: 40%;
  left: -5%;
}

#section2_add .sec02_con em {
  opacity: 0;
}
#section2_add .sec02_con .op {
  opacity: 1;
}
#section2_add .sec02_con .no {
  opacity: 0;
}

/* sec02_A */
#section2_add .sec02_A .A01 {
  position: absolute;
}
#section2_add .sec02_A .A02 {
  position: absolute;
  top: 20%;
}
#section2_add .sec02_A .A03 {
  position: absolute;
  top: 39%;
}
#section2_add .sec02_A .A04 {
  position: absolute;
  top: 60%;
}
#section2_add .sec02_A .A05 {
  position: absolute;
  top: 80%;
}

/* sec02_B */
#section2_add .sec02_B .B01 {
  position: absolute;
  top: 2%;
  left: 4%;
}
#section2_add .sec02_B .B02 {
  position: absolute;
  top: 25%;
  left: -1%;
}
#section2_add .sec02_B .B03 {
  position: absolute;
  top: 52%;
  left: 7%;
}
#section2_add .sec02_B .B04 {
  position: absolute;
  top: 78%;
  left: 12%;
}
#section2_add .sec02_B .B05 {
  position: absolute;
  top: 105%;
  left: 4%;
}

/* sec02_C */
#section2_add .sec02_C {
  position: absolute;
  transform: translate(0%, -50%);
  width: 100%;
  height: 60vh;
  font-size: 5vw;
  line-height: 4.5vw;
  top: 50%;
  left: 10%;
  letter-spacing: -1vw;
  word-spacing: 1vw;
}

/* sec02_C */
#section2_add .sec02_D {
  position: absolute;
  transform: translate(0%, -50%);
  width: 100%;
  height: 60vh;
  font-size: 6vw;
  line-height: 5.5vw;
  top: 40%;
  left: -5%;
}

/* sec02_C */
#section2_add .sec02_C .C01 {
  position: absolute;
  top: 3%;
}
#section2_add .sec02_C .C02 {
  position: absolute;
  top: 22%;
}
#section2_add .sec02_C .C03 {
  position: absolute;
  top: 42%;
}
#section2_add .sec02_C .C04 {
  position: absolute;
  top: 63%;
}
#section2_add .sec02_C .C05 {
  position: absolute;
  top: 84%;
}

/* sec02_D */
#section2_add .sec02_D .D01 {
  position: absolute;
  top: 7%;
  left: 4%;
}
#section2_add .sec02_D .D02 {
  position: absolute;
  top: 30%;
  left: 6%;
}
#section2_add .sec02_D .D03 {
  position: absolute;
  top: 56%;
  left: 7%;
}
#section2_add .sec02_D .D04 {
  position: absolute;
  top: 83%;
  left: 12%;
}
#section2_add .sec02_D .D05 {
  position: absolute;
  top: 110%;
  left: 4%;
}
/*section2 img */
#section2_add .sec02_main {
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translate(-50%, -50%);
  display: none;
}
#section2_add .sec02_main img {
  position: absolute;
  bottom: 20%;
  right: 20%;
  transform: translate(-50%, -50%);
  width: 17vw;
  filter: brightness(0.8);
}
#section2_add .sec02_img {
  position: absolute;
  top: 20%;
  right: 0%;
  transform: translate(-50%, -50%);
}
#section2_add .sec02_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15vw;
  filter: brightness(0.8);
  opacity: 0;
}
/* 오프닝 */
#section2_add .sec02_img .opening_01.picAni {
  animation: pic 0.8s linear 0s;
  transform-origin: 100% 0;
}
#section2_add .sec02_img .opening_02.picAni {
  animation: pic 0.8s linear 0.1s;
  transform-origin: 100% 0;
}
#section2_add .sec02_img .opening_03.picAni {
  animation: pic 0.8s linear 0.2s;
  transform-origin: 100% 0;
}
#section2_add .sec02_img .opening_04.picAni {
  animation: pic 0.8s linear 0.3s;
  transform-origin: 100% 0;
}
#section2_add .sec02_img .opening_05.picAni {
  animation: pic 0.8s linear 0.4s;
  transform-origin: 100% 0;
}

/* slider */
#section2_add .sec02_img .slider_01.picAni {
  animation: pic 5.35s linear 0.4s infinite;
  transform-origin: 100% 0;
}
#section2_add .sec02_img .slider_02.picAni {
  animation: pic 5.35s linear 0.95s infinite;
  transform-origin: 100% 0;
}
#section2_add .sec02_img .slider_03.picAni {
  animation: pic 5.35s linear 1.5s infinite;
  transform-origin: 100% 0;
}
#section2_add .sec02_img .slider_04.picAni {
  animation: pic 5.35s linear 2.05s infinite;
  transform-origin: 100% 0;
}
#section2_add .sec02_img .slider_05.picAni {
  animation: pic 5.35s linear 2.6s infinite;
  transform-origin: 100% 0;
}
#section2_add .sec02_img .slider_06.picAni {
  animation: pic 5.35s linear 3.15s infinite;
  transform-origin: 100% 0;
}
#section2_add .sec02_img .slider_07.picAni {
  animation: pic 5.35s linear 3.7s infinite;
  transform-origin: 100% 0;
}

/* 애니메이션 */
@keyframes pic {
  0% {
    opacity: 1;
    transform: rotate(90deg) translate(700px) rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotate(270deg) translate(700px) rotate(-90deg);
  }
}

/* section03 */
#section3 {
  width: 100%;
  height: 250rem;
  background: #000;
  position: relative;
}

#section3 .sec03 {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
}
#section3 h3 {
  font-family: "SaintMonicaRegular";
  line-height: 120%;
  transform: rotate(-20deg);
  position: relative;
  left: -10%;
  top: -50%;
}

#section3 h3.sec03_01 {
  font-size: 15vw;
}

#section3 h3.sec03_02,
.sec03_03 {
  font-size: 12vw;
}

#section3 h3.sec03_04,
.sec03_05 {
  font-size: 10vw;
}
#section3 h3.sec03_06,
.sec03_07 {
  font-size: 8vw;
}
#section3 h3.sec03_08,
.sec03_09 {
  font-size: 6vw;
}
#section3 h3 em {
  color: #88d1ff;
}

/* section04 */
#section4 {
  width: 100%;
  height: 450rem;
  background: #000;
  position: relative;
}

#section4 .sec04 {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  white-space: nowrap;
}

#section4 h2 {
  font-family: "SaintMonicaRegular";
  font-size: 12vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section4 .sec04 .c1 {
  left: 25%;
}
#section4 .sec04 .c2 {
  left: 31.5%;
}
#section4 .sec04 .c3 {
  left: 38.5%;
}
#section4 .sec04 .c4 {
  left: 47.5%;
}
#section4 .sec04 .c5 {
  left: 51%;
}
#section4 .sec04 .c6 {
  left: 57.5%;
}
#section4 .sec04 .c7 {
  left: 66%;
}
#section4 .sec04 .c8 {
  left: 72.5%;
}

#section4 img {
  width: 12vw;
  height: 18vw;
  position: absolute;
  top: 35%;
  left: 45%;
}

#section4 .card01 {
}
#section4 .card02 {
}
#section4 .card03 {
}
#section4 .card04 {
}
#section4 .card05 {
  z-index: -1;
}
#section4 .card06 {
  z-index: -2;
}
#section4 .card07 {
  z-index: -3;
}
#section4 .card08 {
  z-index: -4;
}

/* section5 */
#section5 {
  width: 100%;
  height: 300rem;
  margin-top: 50vh;
}

#section5 .sec05 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  overflow: hidden;
}

#section5 .sec05 .project {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#section5 .sec05 .left {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

#section5 .sec05 .right {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

#section5 .sec05 .pic_box {
  display: flex;
}

#section5 .sec05 .lt {
  flex-direction: row;
}

#section5 .sec05 .rg {
  flex-direction: row-reverse;
}

#section5 .sec05 .pic_item {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#section5 .sec05 .pic_item2 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#section5 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition-duration: 0.5s;
}

#section5 img:hover {
  filter: none;
  transition-duration: 1s;
  width: 110%;
}

#section5 .project-info {
  position: absolute;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  font-family: "SaintMonicaRegular";
  z-index: 99;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}
h4 {
}
#section5 .project-info-h1 {
  line-height: 5vw;
  text-align: center;
  cursor: default;
}

#section5 .project-info-mask {
  overflow: hidden;
  height: 5vw;
}
#section5 .project-info-nf {
  font-size: 6vw;
}

#section5 .project-info-btn {
  margin-top: 3vw;
  margin-bottom: 2vw;
  box-sizing: border-box;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}

#section5 .project-info-btn1 {
  width: 40%;
  font-size: 1vw;
  border-radius: 5vw;
  border: 2px solid #fff;
  padding: 0.5vw 1vw;
}

#section5 .right .project-info {
  color: #88d1ff;
}
#section5 .right .project-info-btn1 {
  border: 2px solid #88d1ff;
}

/* section06 */
#section6 {
  width: 100%;
  height: 300rem;
}

#section6 .sec06 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  overflow: hidden;
}

#section6 .sec06 .project {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#section6 .sec06 .left {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

#section6 .sec06 .right {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

#section6 .sec06 .pic_box {
  display: flex;
}

#section6 .sec06 .lt {
  flex-direction: row;
}

#section6 .sec06 .rg {
  flex-direction: row-reverse;
}

#section6 .sec06 .pic_item {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#section6 .sec06 .pic_item2 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#section6 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition-duration: 0.5s;
}

#section6 img:hover {
  filter: none;
  transition-duration: 1s;
  width: 110%;
}

#section6 .project-info {
  position: absolute;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  font-family: "SaintMonicaRegular";
  z-index: 99;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}
h4 {
}
#section6 .project-info-h1 {
  line-height: 5vw;
  text-align: center;
  cursor: default;
}

#section6 .project-info-mask {
  overflow: hidden;
  height: 5vw;
}
#section6 .project-info-nf {
  font-size: 6vw;
}

#section6 .project-info-btn {
  margin-top: 3vw;
  margin-bottom: 2vw;
  box-sizing: border-box;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}

#section6 .project-info-btn1 {
  width: 40%;
  font-size: 1vw;
  border-radius: 5vw;
  border: 2px solid #fff;
  padding: 0.5vw 1vw;
}

#section6 .right .project-info {
  color: #88d1ff;
}
#section6 .right .project-info-btn1 {
  border: 2px solid #88d1ff;
}

/* section07 */
#section7 {
  width: 100%;
  height: 300rem;
}

#section7 .sec07 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  overflow: hidden;
}

#section7 .sec07 .project {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#section7 .sec07 .left {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

#section7 .sec07 .right {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

#section7 .sec07 .pic_box {
  display: flex;
}

#section7 .sec07 .lt {
  flex-direction: row;
}

#section7 .sec07 .rg {
  flex-direction: row-reverse;
}

#section7 .sec07 .pic_item {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#section7 .sec07 .pic_item2 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#section7 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition-duration: 0.5s;
}

#section7 img:hover {
  filter: none;
  transition-duration: 1s;
  width: 110%;
}

#section7 .project-info {
  position: absolute;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  font-family: "SaintMonicaRegular";
  z-index: 99;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}
h4 {
}
#section7 .project-info-h1 {
  line-height: 5vw;
  text-align: center;
  cursor: default;
}

#section7 .project-info-mask {
  overflow: hidden;
  height: 5vw;
}

#section7 .project-info-nf {
  font-size: 6vw;
}

#section7 .project-info-btn {
  margin-top: 3vw;
  margin-bottom: 2vw;
  box-sizing: border-box;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}

#section7 .project-info-btn1 {
  width: 40%;
  font-size: 1vw;
  border-radius: 5vw;
  border: 2px solid #fff;
  padding: 0.5vw 1vw;
}

#section7 .right .project-info {
  color: #88d1ff;
}
#section7 .right .project-info-btn1 {
  border: 2px solid #88d1ff;
}

/* section07 */
#section8 {
  width: 100%;
  height: 1500rem;
}

#section8 .sec08 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  overflow: hidden;
}

#section8 .sec08 .script {
  width: 400vw;
  height: 100vh;
  position: relative;
  display: flex;
}

#section8 .sec08 .script .header {
  position: absolute;
  width: 400%;
  height: 80px;
  border-bottom: 1px solid #fff;
}

#section8 .sec08 .script .main {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#section8 .sec08 .script .main_img {
  width: 32vw;
  height: 32vw;
  border-radius: 16vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/section8/script_main.jpg);
  background-size: cover;
}
#section8 .sec08 .script .txt {
  font-family: "SaintMonicaRegular";
  font-size: 4.5vw;
  line-height: 6vw;
}

#section8 .sec08 .script .txt .sc01 {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#section8 .sec08 .script .txt .sc02 {
  position: absolute;
  position: absolute;
  top: 49%;
  left: 38%;
  transform: translate(-50%, -50%);
}
#section8 .sec08 .script .txt .sc03 {
  position: absolute;
  top: 62%;
  left: 52%;
  transform: translate(-50%, -50%);
}

/* txt_roll */
#section8 .sec08 .script .txt_roll {
  position: absolute;
  width: 4vw;
  height: 100vh;
  right: 0;
  margin-top: 80px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  writing-mode: vertical-rl;
  flex-direction: column;
  font-size: 1.2vw;
}

#section8 .sec08 .script .txt_roll span {
  color: #88d1ff;
}
#section8 .sec08 .script .roll_right {
  width: 50%;
  height: 130vh;
  padding-right: 0.3vw;
  white-space: nowrap;
}
#section8 .sec08 .script .roll_left {
  width: 50%;
  height: 130vh;
  padding-right: 0.3vw;
  white-space: nowrap;
}

#section8 .sec08 .script .script_line {
  width: 1.5vw;
  height: 100vh;
  background-color: #0a97fe;
  position: absolute;
  right: 0;
  margin-top: 80px;
  box-sizing: border-box;
}

#section8 .sec08 .script .script_img {
  width: 32vw;
  height: 100vh;
  position: absolute;
  right: 0;
  margin-top: 80px;
}
/* script02 */
#section8 .sec08 .script .script_02 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* script02 */
#section8 .sec08 .script .script_03 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* script02 */
#section8 .sec08 .script .script_04 {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* fix_txt */

.fix {
  position: absolute;
  margin-top: 130vh;
  height: 1100rem;
  width: 100%;
  top: 0;
}

.fix_box {
  position: sticky;
  top: 45%;
  height: 50vh;
  overflow: hidden;
  z-index: 99;
  font-size: 0.8vw;
  color: #fff;
  padding: 0 1.5%;
}

.fix_txt {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.fix_txt01 {
  width: 50vh;
  transform: rotate(270deg);
}
.fix_txt02 {
  width: 50vh;
  transform: rotate(90deg);
}

.fix_rotate01 {
  position: absolute;
  right: 0;
}

.fix_txt .fix01 {
  font-family: "Questrial";
}
.fix_txt .fix02 {
  font-family: "SaintMonicaRegular";
}
